	
.footerDT1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal 
}

.headerDT1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: verdana;
   font-size: 14px;
   font-variant: small-caps;
   font-weight: normal;
   text-align: center;
}

.colDtPedProc1 {   
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 70px;
   text-align: left;
}

.colDtPedProc2 {
   font-family: verdana;
   font-size: 12px;
   width: 100px;
   text-align: center;
}

.colDtPedProc3 {
   font-family: verdana;
   font-size: 12px;
   width: 100px;
   text-align: center;
}

.colDtPedProc4{
   font-family: verdana;
   font-size: 12px;
   width: 350px;
   text-align: left;
}

.colDtPedProc5{
   font-family: verdana;
   font-size: 12px;
   width: 350px;
   text-align: left;
}

.colDtPedProc6 {
   font-family: verdana;
   font-size: 12px;
   width: 80px;
   text-align: right;
}

.colDtPedProc7 {
   font-family: verdana;
   font-size: 12px;
   width: 40px;
   text-align: center;
}

.colDtPedProc8 {
   font-family: verdana;
   font-size: 12px;
   width: 40px;
   text-align: center;
}


.rowDtPedProc1{
    color: #000000;
    line-height: 20px; 
    background-color: #FFFFFF;
    
}
.rowDtPedProc2{
    color: #000000;
    line-height: 20px; 
    background-color: #EFEFEF;
}



.label1 {
		color: #000000;
		font-family: verdana;
		font-size: 15px;
		font-style: normal;
		font-weight: bold;
}
.label2 {
	color: #E3001B;
	font-family: verdana;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
}
.label3 {
	color: #000000;
	font-family: verdana;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
}
.label4 {
	color: #E3001B;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.label5 {
	color: #000000;
	font-family: verdana;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
}
.label6 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;

}
.label7 {
	color: #000000;
	font-family: verdana;
	font-size: 9px;
	font-style: normal;
}
.label8 {
	color: #000000;
	font-family: verdana;
	font-size: 8px;
	font-style: normal;
}
.label9 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.label10 {
	color: #000000;
	font-family: verdana;
	font-size: 16px;
	font-style: normal;
}

.texto1 {
	color: #000000;
	font-family: verdana;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
}

.texto2 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
}
	

	
	.columnGral1 {
		background-color: #C0C0C0;
	}
	
	.columnGral2 {
		border-bottom-color: #E3001B;
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}
	
	.columnGral3 {
		border-right-color: #E3001B;
		border-right-style: solid;
		border-right-width: 2px;
	}
	.columnGral4 {
		background-color: #C0C0C0;
		border-bottom-color: #E3001B;
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}


	
	.rowStyle1 {
		border-color: #000000;
		border-style: solid;
		border-width: 1px;
	}

	.tablaProductos {
		border-color: #000000;
		border-width: 1px;
		border-style: solid;
	}
	.tablaClass {
		border-color: #000000;
		border-width: 0px;
		border-style: solid;
	}
	.header {
		border-color: #000000;
		border-width: 1px;
		border-style: solid;
		background-color: #C0C0C0;
	}


/* Datatable para la hoja de surtido */
.headerDTHJ{
   border-color: #000000;
   border-width: 1px;
   border-style: solid;
   background-color: #C0C0C0;
}

.dtborder{
   border-color: #000000;
   border-width: 1px;
   border-style: solid;
}

.colDTHJ1 {   	
   font-family: verdana;
   font-size: 9px;
   width: 80px;
   text-align: center;
}

.colDTHJ2 {
   font-family: verdana;
   font-size: 9px;
   width: 90px;
   text-align: center;
}

.colDTHJ3 {
   font-family: verdana;
   font-size: 9px;
   width: 90px;
   text-align: center;
}

.colDTHJ4{
   font-family: verdana;
   font-size: 9px;
   width: 90px;
   text-align: left;
}

.colDTHJ5{
   font-family: verdana;
   font-size: 9px;
   width: 150px;
   text-align: left;
}

.colDTHJ6 {
   font-family: verdana;
   font-size: 9px;
   width: 150px;
   text-align: right;
}

.rowDTHJ{
    color: #000000;
    line-height: 20px; 
    background-color: #FFFFFF;
   border-bottom-color: #000000;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}
	
	
	
	
	
