
.labelTitle1 {
	color: #FF0000;
	font-family: verdana;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

/* Datatable header */

.colDTHdRp1{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 350px;
   text-align: left;
}

.colDTHdRp2{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 320px;
   text-align: center;
}

.colDTHdRp3{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 65px;
   text-align: center;
}

.colDTHdRp4{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 65px;
   text-align: center;
}

.colDTHdRp5{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 50px;
   text-align: center;
}

.colDTHdRp6{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 100px;
   text-align: center;
}

.rowDTHdRp1 {
    color: #FFFFFF;
    line-height: 30px; 
    background-color: #000099;
}



/* Estilos para el Datatable de pedidos */

.outputDataTable1{
   vertical-align: text-top;
}

.outputDataTable2{
   vertical-align: text-bottom;
}

.columnDTRepPed1{
   font-family: verdana;
   font-size: 12px;
   width: 350px;
   text-align: left;
   border: 1px;
}

.columnDTRepPed2{
   font-family: verdana;
   font-size: 12px;
   width: 500px;
   text-align: left;
   border: 1px;
}

.columnDTRepPed3{
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   width: 100px;
   text-align: right;
   border: 1px;
}



.columnDTRepPedCli1{
   font-family: verdana;
   font-size: 12px;
   width: 320px;
   text-align: left;
   border: 1px;
}

.columnDTRepPedCli2{
   font-family: verdana;
   font-size: 12px;
   width: 65px;
   text-align: left;
   border: 1px;
}

.columnDTRepPedCli3{
   font-family: verdana;
   font-size: 12px;
   width: 65px;
   text-align: right;
   border: 1px;
}

.columnDTRepPedCli4{
   font-family: verdana;
   font-size: 12px;
   width: 50px;
   text-align: left;
   border: 1px;
}

.rowClass1{
    color: #000000;
    line-height: 20px; 
    background-color: #FFFFFF;
	margin-bottom: 2px;
    
}
.rowClass2{
    color: #000000;
    line-height: 20px; 
    background-color: #EFEFEF;
}
