/*
  El tipo de letra Avant Garde se puede 
  visualizar unicamente en Mozilla.
  
  font-family: "Avant Garde";
  
*/

.botonGris {
   font-size: 12px;
   font-family: verdana;
   padding: 4px;
}

.tablelogin {
	border-color: #919090;
	border-width: 1px;
	border-style: solid;
}

.input1 {
	color: #000000;
	background-color: #F4F4F4;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	font-family: verdana;
	font-size: 18px;
	font-style: normal;
    padding-left: 3px;
}

.label1 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
}

.label1b {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.linkDefault {
	color: #1E00FF;
	font-family: verdana;
	font-size: 10px;
	font-style: normal;
    padding-right: 5px;
    font-variant: normal;
    text-decoration: none;
    
}

.linkCerrar {
	color: #000000;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
    
}



.labelError1{
	color: #C8342C;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}



