.botonGris {
   font-size: 12px;
   font-family: verdana;
   padding: 4px;
}


.boldLabel1 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.input1 {
	color: #000000;
	background-color: #F4F4F4;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.label1 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
}

.label2{
	color: #FFFFFF;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 2px;
    text-align: center;
}


.labelError1 {
	color: #C8342C;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}


.linkNormal {
	color: #B22222;
	font-family: verdana;
	font-size: 10px;
	font-style: normal;
    padding-left: 5px;
    font-variant: normal;
    text-decoration: none;
    
}

.linkTable {
	color: #B22222;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
    padding-left: 1px;
    font-variant: normal;
    text-decoration: none;
    
}

.smallLabel1 {
	color: #808080;
	font-family: verdana;
	font-size: 10px;
	font-style: italic;
}

.smallLabel2 {
	color: #2F4F4F;
	font-family: verdana;
	font-size: 11px;
	font-style: italic;
}

.smallLabel3 {
	color: #DCDCDC;
	background-color: #164364;
	font-family: verdana;
	font-size: 11px;
	font-style: italic;
}

.labelTitle1 {
	color: #FF0000;
	font-family: verdana;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

.labelTitle2 {
	color: #191970;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}


.tableConsulta {
	border-color: #CBDCED;
	border-width: 1px;
	border-style: solid;
}

.tableGeneral {
	border-color: #808080;
	border-width: 1px;
	border-style: solid;
}





/* Estilos para el Datatable de pedidos */

.columnDataTable1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 30px;
   text-align: center;
}

.columnDataTable2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 300px;
   text-align: left;
}

.columnDataTable3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 70px;
   text-align: left;
}

.columnDataTable4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: left;
}

.columnDataTable5{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: right;
}

.columnDataTable6{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 90px;
   text-align: left;
}

.columnDataTable7{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 70px;
   text-align: center;
}





.columnDataTable75 {
	color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: center;
}

.columnDataTable8{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 40px;
   text-align: center;
}

.columnDataTable9{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 40px;
   text-align: center;
}

.columnDataTable10{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 40px;
   text-align: center;
}


/* Nuevo Estilos para el Datatable de pedidos */

.columnDataTable1Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px; 
   width: 270px;
   text-align: left;
}
.columnDataTable2Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 70px;
   text-align: left;
}
.columnDataTable25Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 80px;
   text-align: center;
}
.columnDataTable3Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 70px;
   text-align: right;
}
.columnDataTable4Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 90px;
   text-align: left;
}
.columnDataTable5Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 300px;
   text-align: left;
}
.columnDataTable6Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 40px;
   text-align: center;
}
.columnDataTable7Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 40px;
   text-align: center;
}
.columnDataTable8Z {
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   width: 40px;
   text-align: center;
}





.footerDataTable1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal 
}

.headerDataTable1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: verdana;
   font-size: 14px;
   font-variant: small-caps;
   font-weight: normal
}

.rowClass1{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #FFFFFF;
    
}
.rowClass2{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #EFEFEF;
}




/* Estilos para el Datatable de datos del cliente */

.columnDTCliente1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 30px;
   text-align: center;
}

.columnDTCliente2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 350px;
   text-align: left;
}

.columnDTCliente3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 120px;
   text-align: left;
}

.columnDTCliente4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: left;
}


/* Estilos para el Datatable de datos del cliente */

.columnDataTableDetPed1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 30px;
   text-align: center;
}

.columnDataTableDetPed2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 350px;
   text-align: left;
}

.columnDataTableDetPed3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 30px;
   text-align: center;
}

.columnDataTableDetPed4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 70px;
   text-align: left;
}

.columnDataTableDetPed5{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 70px;
   text-align: right;
}

.columnDataTableDetPed6{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: right;
}

.columnDataTableDetPed7{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 150px;
   text-align: right;
}


