
.botonGris {
   font-size: 12px;
   font-family: verdana;
   padding: 4px;
}

.boldLabel1 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.input1 {
	color: #000000;
	background-color: #F4F4F4;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.label1 {
	color: #000000;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
}


.labelError1 {
	color: #C8342C;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}

.labelTitle1 {
	color: #FF0000;
	font-family: verdana;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

.labelTitle2 {
	color: #191970;
	font-family: verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.linkDefault {
	color: #1E00FF;
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
    padding-left: 5px;
    font-variant: normal;
    text-decoration: none;
    
}

.smallLabel1 {
	color: #808080;
	font-family: verdana;
	font-size: 10px;
	font-style: italic;
}

.smallLabel2 {
	color: #2F4F4F;
	font-family: verdana;
	font-size: 11px;
	font-style: italic;
}

.tableBasics {
	border-color: #CBDCED;
	border-width: 2px;
	border-style: solid;
}

