.labelB10N {
        color: #000000;
        font-size: 10px;
        font-style: normal;
        font-family: sans-serif;
    padding-left: 5px;
}

.labelG11N1 {
        color: #2F4F4F;
        font-size: 11px;
        font-style: normal;
        font-family: sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

.labelTitleHeader {
	color: #2F4F4F;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tableStyle {
    border-collapse: collapse;
    border: 1px solid #03476F;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    color: #363636;
    background: #FFFFFF;
}


.fechaStyle{
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    color: #006699;
}

.linkStyle{
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #00008B;
    font-weight: bold;
    font-variant: small-caps;
}

.labelG11N1 a:link {
        color: #7200EE; font-family: sans-serif; text-decoration: none;
}
.labelG11N1 a:visited {
        color: #7200EE; font-family: sans-serif; text-decoration: none;
}
.labelG11N1 a:active {
        color: #7200EE; font-family: sans-serif; text-decoration: none;
}
.labelG11N1 a:hover {
        color: #3333ff; font-family: sans-serif; text-decoration: underline;
}


.link11 {
    font-family: sans-serif;
    font-size: 11px;
    color: #7200EE;

}

.trImage {
        background-image: ../img/subm.jpg;
}




body {
	margin: 0; padding: 0;
	font: 10px normal Arial, Helvetica, sans-serif;
	/*background: #ddd url(resources/images/body_bg.gif) repeat-x;*/
}
.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#header {
	/*background: url(resources/images/header_bg.gif) no-repeat center top;*/
	padding-top: 120px;
}
#header .disclaimer {
	color: #999;
	padding: 100px 0 7px 0;
	text-align: right;
	display: block;
	position: absolute;
	top: 0; right: 0;
}
#header .disclaimer a {	color: #ccc;}

ul.topnav {
	list-style: none;
	padding: 0 0;	
	margin: 0;
	float: left;
	width: 100%;
	background: #222;
	font-size: 12px;
	background: url(../../resources/img/topnav_bg_menu.jpg) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
/* 	background: url(../../resources/img/topnav_hover_menu.jpg) no-repeat center top; */
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../../resources/img/subnav_btn_menu.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	/* background: #333; */
	background: #9C9C9C;   /* ROJO */
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	/* border-top: 1px solid #252525; */ /*--Create bevel effect--*/
	/* border-bottom: 1px solid #444; */ /*--Create bevel effect--*/
	border-top: 1px solid #BABABA;
	border-bottom: 1px solid #444;
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	/* background: #333 url(resources/images/dropdown_linkbg.gif) no-repeat 10px center; */
	background: #010357 url(../../resources/img/dropdown_linkbg_menu.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	/* background: #222 url(resources/images/dropdown_linkbg.gif) no-repeat 10px center; */
	background: #4c4d70 url(../../resources/img/dropdown_linkbg_menu.gif) no-repeat 10px center; 
}
#header img {
	margin: 20px 0 10px;
}