.botonGris {
   font-size: 12px;
   font-family: verdana;
   padding: 4px;
}


.labelTitle1 {
	color: #FF0000;
	font-family: verdana;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

.label2{
	color: #FFFFFF;
	font-family: verdana;
	font-size: 14px;
	font-style: normal;
    padding-left: 2px;
    text-align: center;
}


.linkNormal {
	color: #B22222;
	font-family: verdana;
	font-size: 10px;
	font-style: normal;
    padding-left: 5px;
    font-variant: normal;
    text-decoration: none;   
}



.columnDTPedus1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: center;
}

.columnDTPedus2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: left;
}

.columnDTPedus3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 120px;
   text-align: right;
}

.columnDTPedus4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 120px;
   text-align: left;
}

.columnDTPedus5{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 200px;
   text-align: center;
}

.columnDTPedus6{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: center;
}



.footerDataTable1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal 
}

.headerDataTable1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: verdana;
   font-size: 14px;
   font-variant: small-caps;
   font-weight: normal
}

.rowDTPedus1{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #FFFFFF;
    
}
.rowDTPedus2{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #EFEFEF;
}
