.jqte-test {
	display:block;
	margin:0 0 10px;
	padding:6px;
	width:50%;
	background:#FFFFFF;
	border:#AAA 1px solid;
	font-size:13px;
}

.linkAdmon1 {
	color: #1E00FF;
	font-family: verdana;
	font-size: 15px;
	font-style: italic;
    padding-left: 5px;
    font-variant: normal;
    text-decoration: underline;
    font-weight: bold;
}

/* Data table Productos */

.columnDTProd1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 20px;
   text-align: center;
}

.columnDTProd2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 440px;
   text-align: left;
}

.columnDTProd3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: right;
}

.columnDTProd4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: left;
}

.columnDTProd5{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: center;
}

.columnDTProd6{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: center;
}

.columnDTProd7 {
	color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: center;
}

.rowDTProd1{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #FFFFFF;
    
}

.rowDTProd2{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #EFEFEF;
}



/* Datatable Clientes */

.columnDTClie1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 400px;
   text-align: left;
}

.columnDTClie2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 170px;
   text-align: left;
}

.columnDTClie3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 140px;
   text-align: center;
}

.columnDTClie4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 90px;
   text-align: center;
}

.columnDTClie5{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: center;
}


.columnDTClie6{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 80px;
   text-align: center;
}

.rowDTClie1{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #FFFFFF;
    
}

.rowDTClie2{
    color: #000000;
    font-family: verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #EFEFEF;
}



/* Datatable Usuarios */

.columnDTUsua0{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 230px;
   text-align: left;
}

.columnDTUsua1{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 85px;
   text-align: left;
}

.columnDTUsua2{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 85px;
   text-align: left;
}

.columnDTUsua3{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 110px;
   text-align: center;
}

.columnDTUsua4{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 250px;
   text-align: left;
}

.columnDTUsua5{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: left;
}

.columnDTUsua6{
   color: #000000;
   font-family: verdana;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: center;
}





.header1 {
   font-family: verdana;
   font-size: 14px;
   font-variant: small-caps;
   font-weight: normal;
   text-align: right;
}