/*
  El tipo de letra Avant Garde se puede 
  visualizar unicamente en Mozilla.
  
  font-family: "Avant Garde";
  
*/

.botonGris {
   font-size: 12px;
   font-family: sans-serif;
   padding: 4px;
}


table.loginTable {
	border-width: thin thin thin thin;
	border-style: outset outset outset outset;
	border-color: #164364 #164364 #164364 #164364;
	background-color: #FFFFFF;
	border-collapse: collapse;
}

table.standardTable {
	border-width: thin thin thin thin;
	border-style: outset outset outset outset;
	border-color: blue blue blue blue;
	background-color: #FFFFFF;
	border-collapse: collapse;
}

table.commonTable {
	background-color: #A9A9A9;
	border-width: thin thin thin thin;
	border-style: outset outset outset outset;
	border-color: #000080 #000080 #000080 #000080;
}

.label1{
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}

.label2{
	color: #000000;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}

.label3{
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
    padding-left: 5px;
}

.label4{
	color: red;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
    padding-left: 10px;
}

.label5{
	color: #000000;
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
    padding-left: 10px;
}

.label6 {
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
    padding-left: 10px;
    font-variant: small-caps;
    
}

.label7 {
	color: red;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
    padding-left: 10px;
    font-variant: small-caps;
    font-weight: bold;
    
}

.label8 {
	color: #000000;
	font-family: sans-serif;
	font-size: 10px;
	font-style: normal;
    padding-left: 5px;
    
}

.label9 {
	color: red;
	font-family: sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
    padding-left: 5px;
    
}

.label10{
	color: #000000;
	font-family: sans-serif;
	font-size: 10px;
	font-style: normal;
    padding-left: 5px;
}

.label11{
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
    padding-left: 5px;
}

.label12 {
	color: #164364;
	font-family: sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
    padding-left: 5px;
    
}

.label13 {
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
    padding-left: 10px;
    font-variant: small-caps;
}

.labelDark2{
	color: #000000;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
    font-weight: bold;
}

.labelDark12{
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
    padding-left: 5px;
}


.labelError1{
	color: #C8342C;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}



.input1{
	color: #164364;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;    
}

.inputNum {
	color: #164364;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	text-align: right;
}

.campos-1{
	color: #164364;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
}

.campos-2{
	color: #164364;
	font-family: 'Helvetica, sans-serif';
	font-size: 14px;
	font-style: normal;
    padding-left: 10px;
    font-weight: bold;
}


/* Datatable pedidos */




.columnDataTable1{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 40px;
   text-align: center;
}

.columnDataTable2{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 60px;
   text-align: right;
}

.columnDataTable3{
   color: #000000;
   font-family: sans-serif;
   font-size: 14px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: center;
}

.columnDataTable4{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 330px;
   text-align: left;
}

.columnDataTable5{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: right;
}

.columnDataTable6{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 220px;
   text-align: right;
}

.columnDataTable7{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 100px;
   text-align: right;
}

.columnDataTable61{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 160px;
   text-align: right;
}

.columnDataTable71{
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 160px;
   text-align: right;
}

.footerDataTable1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal 
}

.headerDataTable1{
   background-color: #164364;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 14px;
   font-variant: small-caps;
   font-weight: normal
}

.rowClass1{
    color: #000000;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #FFFFFF;
    
}
.rowClass2{
    color: #000000;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px; 
    background-color: #EFEFEF;
}



/* Datatable detalle del pedido */




.columnDetailTable1 {
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 20;
   text-align: center;
}

.columnDetailTable2 {
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 400;
   text-align: left;
}

.columnDetailTable3 {
   color: #000000;
   font-family: sans-serif;
   font-size: 14px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 40;
   text-align: center;
}

.columnDetailTable4 {
   color: #000000;
   font-family: sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 20px; 
   width: 40;
   text-align: right;
}

.linkDefault {
	color: #164364;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
    padding-left: 10px;
}
}



